In [46]:
import pandas as pd

In [47]:
pd.read_csv("python_assignment_1.csv")

     participant          prime          target    rt
0              1  positiveprime  positivetarget  1502
1              2  positiveprime  positivetarget  1535
2              3  positiveprime  positivetarget  1563
3              4  positiveprime  positivetarget  1492
4              5  positiveprime  positivetarget  1560
..           ...            ...             ...   ...
587          144  negativeprime  negativetarget  1474
588          145  negativeprime  negativetarget  1535
589          146  negativeprime  negativetarget  1575
590          147  negativeprime  negativetarget  1505
591          148  negativeprime  negativetarget  1471

[592 rows x 4 columns]

In [48]:
def read_my_data(x):
    my_data = pd.read_csv(x)
    return my_data

In [49]:
my_data=read_my_data("python_assignment_1.csv")

In [50]:
my_data.head()

   participant          prime          target    rt
0            1  positiveprime  positivetarget  1502
1            2  positiveprime  positivetarget  1535
2            3  positiveprime  positivetarget  1563
3            4  positiveprime  positivetarget  1492
4            5  positiveprime  positivetarget  1560

In [51]:
my_data.columns = my_data.columns.str.title()

In [52]:
my_data = my_data.replace(['positiveprime', 'negativeprime', 'positivetarget', 'negativetarget'], 
                ['Positive', 'Negative', 'Positive', 'Negative'])

In [53]:
my_data.head()

   Participant     Prime    Target    Rt
0            1  Positive  Positive  1502
1            2  Positive  Positive  1535
2            3  Positive  Positive  1563
3            4  Positive  Positive  1492
4            5  Positive  Positive  1560

            count                  mean                     std             \
Target   Negative Positive     Negative     Positive   Negative   Positive
Prime
Negative    148.0    148.0  1547.256757  1562.648649  52.382700  50.468400
Positive    148.0    148.0  1566.959459  1547.391892  54.016737  44.879072

              min               25%               50%               75%  \
Target   Negative Positive Negative Positive Negative Positive Negative
Prime
Negative   1417.0   1440.0   1507.5  1533.25   1550.5   1562.0  1580.50
Positive   1448.0   1430.0   1528.5  1513.00   1570.5   1550.5  1602.25

                       max
Target   Positive Negative Positive
Prime
Negative  1587.00   1710.0   1736.0
Positive  1584.25   1694.0   1637.0