In [2]:
import pandas as pd

In [3]:
pd.read_csv("python_assignment_1.csv")

     participant          prime          target    rt
0              1  positiveprime  positivetarget  1502
1              2  positiveprime  positivetarget  1535
2              3  positiveprime  positivetarget  1563
3              4  positiveprime  positivetarget  1492
4              5  positiveprime  positivetarget  1560
..           ...            ...             ...   ...
587          144  negativeprime  negativetarget  1474
588          145  negativeprime  negativetarget  1535
589          146  negativeprime  negativetarget  1575
590          147  negativeprime  negativetarget  1505
591          148  negativeprime  negativetarget  1471

[592 rows x 4 columns]

In [4]:
def read_my_data(x):
    my_data = pd.read_csv(x)
    return my_data

In [5]:
my_data=read_my_data("python_assignment_1.csv")

In [6]:
my_data.head()

   participant          prime          target    rt
0            1  positiveprime  positivetarget  1502
1            2  positiveprime  positivetarget  1535
2            3  positiveprime  positivetarget  1563
3            4  positiveprime  positivetarget  1492
4            5  positiveprime  positivetarget  1560

In [7]:
my_data.columns = my_data.columns.str.title()

In [8]:
my_data = my_data.replace(['positiveprime', 'negativeprime', 'positivetarget', 'negativetarget'], 
                ['Positive', 'Negative', 'Positive', 'Negative'])

In [9]:
my_data.head()

   Participant     Prime    Target    Rt
0            1  Positive  Positive  1502
1            2  Positive  Positive  1535
2            3  Positive  Positive  1563
3            4  Positive  Positive  1492
4            5  Positive  Positive  1560

Descriptive Statistics

In [10]:
grouped_data = my_data.groupby(['Prime', 'Target'])
group_means = grouped_data['Rt'].mean()
group_errors = grouped_data['Rt'].std()
group_means = grouped_data.mean()
pd.DataFrame(group_means)

                   Participant           Rt
Prime    Target
Negative Negative         74.5  1547.256757
         Positive         74.5  1562.648649
Positive Negative         74.5  1566.959459
         Positive         74.5  1547.391892

Data Visualisation

In [11]:
from statsmodels.graphics.factorplots import interaction_plot

Anova

In [23]:
from scipy import stats

In [24]:
from statsmodels.stats.anova import AnovaRM
factorial_model = AnovaRM(data=my_data, depvar='Rt', within=['Prime', 'Target'], subject='Participant').fit()
print(factorial_model)

                   Anova
===========================================
             F Value Num DF  Den DF  Pr > F
-------------------------------------------
Prime         0.3132 1.0000 147.0000 0.5766
Target        0.2365 1.0000 147.0000 0.6275
Prime:Target 17.1778 1.0000 147.0000 0.0001
===========================================

Post hoc testing

In [25]:
index = (my_data['Prime']=='Positive') & (my_data['Target']=='Positive')
PP = my_data[index]['Rt']

In [26]:
index = (my_data['Prime']=='Negative') & (my_data['Target']=='Positive')
NP = my_data[index]['Rt']

In [27]:
stats.ttest_rel(PP, NP)

Ttest_relResult(statistic=-2.906391854871503, pvalue=0.00422249196356647)

In [28]:
index = (my_data['Prime']=='Positive') & (my_data['Target']=='Negative')
PN = my_data[index]['Rt']
index = (my_data['Prime']=='Negative') & (my_data['Target']=='Negative')
NN = my_data[index]['Rt']

In [29]:
stats.ttest_rel(PN, NN)

Ttest_relResult(statistic=3.1321734668224033, pvalue=0.0020943602880594543)